.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-family: 'Inter';
    font-weight: 300;
    font-style: Light;
    font-size: 128px;
    /* leading-trim: NONE; */
    line-height: 120px;
    letter-spacing: -7px;
    max-width: 680px;
    text-align: center;
    margin: 0 32px;
}

.title-top {
    top: 31vh;
}
.title-bottom {
    top: 48vh;
}

.about-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: absolute;
    bottom: 32px;
    left: 32px;
    max-width: 360px;
}

.rect {
    position: absolute;
    width: 15vw;
}

.rect-right {
    right: 0;
    
}

.rect-left {
    left: 0;
}

.rect_2 {
    width: 18vw;
}

.rect_3 {
    width: 21vw;
}

.btn-left {
    position: absolute;
    left: 32px;
    display: flex;
    align-items: center;
}

.btn-right {
    position: absolute;
    right: 32px;
    display: flex;
    align-items: center;
}

.btn-icon {
    width: 32px;
    height: 32px;
    border: 1px solid #1A1B1C;
    background: none;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.btn-dash {
    position: absolute;
    right: 31px;
    border: 1px dashed black;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    background: none;
}

.btn-icon > * {
    transform: rotate(-45deg);
}

.btn-label {
    font-size: 12px;
    opacity: 60%;
    font-weight: 600;
    transition: all 300ms ease;
}

.icon-left {
    margin-right: 24px;
}

.icon-right {
    margin-left: 24px;
}